

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Consolas";
    -fx-font-weight: bold;
    -fx-text-fill: pink;
    -fx-control-inner-background: derive(#1d1d1d,20%);
}

.text-area {
    -fx-background-image: url(../../../../doc/images/Background.jpg);
    -fx-control-inner-background: pink;
    -fx-font-family: "Helvetica Neue";
    -fx-font-size: 15pt;
    -fx-padding: 50 30 50 30;
}
